.main{
  background-color: black;
  color: white;
}

.header{
  font-size: 40px;
}

.card{
  border: 2px solid white;
  width: 130px;
  height: 200px;
  border-radius: 10px;
}

.player-card{
  display: inline-block;
  border: 2px solid white;
  width: 130px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  font: 100px/220px Georgia, Times New Roman, serif;
  cursor: pointer;
}

.card span{
  text-align: center;
}

.big-num{
  font-size: 50px;
  font-family: Georgia, Times New Roman, serif;;
}

.small-num{
  font-size: 25px;
  font-family: Georgia, Times New Roman, serif;
}

.selected{
  outline: none;
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

.hide{
  display: none;
}

.choose-pile{
  margin-left: 40px;
}

.arrow{
  font-size: 20px;
  margin-top: 10px;
}

#draw-cards{
  background-color: black;
}